.container {
    margin-right: 110px;
}

.pesquisa {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}

#input {
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.barra {
    width: 1240px;
    height: 2px;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

