.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#titulo{
    margin-top: 15px;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0;
    text-shadow: 1px 1px 1px white;
}

#sub-titulo{
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

#card{
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
}